.pagedButton {
  background: #5439eb;
  height: 50px;
  width: 50px;
  border-radius: 5px;
  color: antiquewhite;
  font-size: 15px;
}

.pagedButton:hover {
  background: #8e43f1;
  box-shadow: 0 0 10px #8e43f1, 0 0 40px #8e43f1, 0 0 80px #8e43f1;
}
