.navigation {
  width: 80%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(223, 220, 57, 0.6);
  border-radius: 20px;
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.4);
  z-index: 5;
  background-image: linear-gradient(-225deg, #fffeff 0%, #d7fffe 100%);
}
